<div>
  <div class='card card-body mb-3 compact'>
    <h2>Add Post</h2>
    <form (submit)="onSubmit($event)">

      <div>
        <label for="name">Name</label>
        <input [(ngModel)]="post.name" type="text" name='name' id="name" placeholder='Name' class="form-control">
      </div>

      <div>
        <label for="message">message</label>
        <input [(ngModel)]="post.message" type="text" name='message' id="message" placeholder='message' class="form-control">
      </div>

      <button (click)="addPost()" class='btn btn-dark mb-3"'>Add Post</button>
    </form>
  </div>

  <h2>Posts:</h2>

  <ul>
    <li class="card card-body mb-2" *ngFor="let post of posts">
      <div>
        <button (click)="deletePost(post)" class='float-right'>
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
        <button (click)="setEditable(post)" class='float-right'>
          <i class="fa fa-edit" aria-hidden="true"></i>
        </button>
        <h2>{{post.name}}</h2>
      </div>


      <div *ngIf='!post.editable'>
        <div>Message: {{post.message}}</div>
        <div>Date: {{post.date}}</div>
      </div>

      <div *ngIf='post.editable'>
        <form (submit)="onSubmit($event)">
          <div>
            <label for="name">Name</label>
            <input [(ngModel)]="post.name" type="text" name='name' id="name" placeholder='Name' class="form-control">
          </div>

          <div>
            <label for="message">message</label>
            <input [(ngModel)]="post.message" type="text" name='message' id="message" placeholder='message' class="form-control">
          </div>
          <button (click)="editPost(post)" class='btn btn-dark mb-3"'>Submit Changes</button>
        </form>
      </div>
    </li>
  </ul>
</div>
